@font-face {
    font-family: 'Ancient Script Tales Of Zestiri';
    src: url('AncientScriptTalesOfZestir-Rg.woff2') format('woff2'),
        url('AncientScriptTalesOfZestir-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
}

textarea {
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    font-size: 18px;
    width: 300px;
    height: 100px;
}

table {
    border-spacing: 10px;
}

td {
    margin-right: 10px;
}

.ancient-script {
    font-family: 'Ancient Script Tales Of Zestiri';
    font-size: 40px;
}
